body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.bg-section {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-image: url('../images/background-1.png');
  background-position: center center;
  background-size: cover;
  /*background-attachment: fixed; */
  background-repeat: no-repeat;
  animation: slide 5s infinite;
}

.content {
  position: absolute;
  top: 15%;
  left: 7%;
}

.content h1 {
  font-size: 55px;
  letter-spacing: 2px;
}

@keyframes slide {
  0% {
    background-image: url('../images/background-1.png');
  }
  50% {
    background-image: url('../images/background-2.png');
  }
}

.content p {
  text-align: center;
  text-align: justify;
  letter-spacing: 0.6px;
  word-spacing:1.5px;
  font-weight:450;
  padding-left:2%;
}

.content button {
  font-size:20px;
  border-radius: 20px 20px 20px 20px;
  font-family: sans-serif;
}

.detail {
  background-color: #dddddd;
}

.detail p {
  text-align: center;
  text-align: justify;
  word-spacing:1.3px;
  font-weight:450;
}


.detail h1 {
  letter-spacing: 1.2px;
}

.detail h3 {
  letter-spacing: 1px;
}

.detail h6 {
  font-size: 15px;
  text-align: end;
  padding: 0 30% 0 0;
}

.img-desc h1 {
  letter-spacing: 2px;
  font-size: 60px;
}

.img-desc {
  background-color: #cccccc;
}

.img-desc li {
  text-align: justify;
  font-size: 18px;
  font-weight:480;
  word-spacing:1.2px;
}

.vid-desc h1 {
  letter-spacing: 2px;
  font-size: 60px;
}

.vid-desc {
  background-color: #bbbbbb;
}

.vid-desc li {
  text-align: justify;
  font-size: 18px;
  font-weight:480;
  word-spacing:1.2px;
}

.real-desc h1 {
  letter-spacing: 2px;
  font-size: 60px;
}

.real-desc {
  background-color: #afafaf;
}

.real-desc li {
  text-align: justify;
  font-size: 18px;
  font-weight:480;
  word-spacing:1.2px;
}

.real-desc button b {
  font-size: 8px;
  position: absolute
}

input[type='file'] {
  display: none;
}

label {
  color: white;
  height: 44px;
  width: 225px;
  background-color: black;
  border-radius: 20px 20px 20px 20px;
  position:relative;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}



