{% extends 'base.html' %}

{% block head %}
<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
<!-- CDN's -->
<link
rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
crossorigin="anonymous"
/>
<link
rel="stylesheet"
href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
crossorigin="anonymous"
/>
{% endblock %}

{% block body %}

  <section class=" container-fluid bg-section">
    <div class="content">
      <div class="row">
      <div class="col-md-7">
      <h1>Human Pose Estimation </h1>
      </div>
    </div>
     <div class="row">
     <div class="col-md-6">
      <p class="pt-5 pr-4 pl-4 m-2">Human Pose Estimation is defined as the problem of localization of human joints (also known as keypoints - elbows, wrists, etc) in images or videos. It is also defined as the search for a specific pose in space of all articulated poses. 2D Pose estimates a 2D pose (x,y) coordinates for each joint from a RGB image. 3D Pose estimates a 3D pose (x,y,z) coordinates a RGB image.
      Human Pose Estimation has some pretty cool applications like surveillance and security, Augmented/Virtual Reality, Animations, Gaming, Activity recognition, Teaching robots to perform particular action/tasks. </p>
    </div>
  </div>
  <div class="row">
  <div class="col-md-6 text-center pt-5">
    <a href="#details"><button type="button" class="btn bt-lg"> Get Started </button></a>
   </div>
  </div>
  </section>

  <section class="container-fluid detail" id="details">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="pt-4 pb-1"> Pose Estimation Techniques </h1>
      </div>
    </div>
    <hr style="color: black;">
    <div class="row">
      <div class="col-md-4 text-center">
        <h3 class="pt-4 pb-3"> Image Estimation </h3>
        <i class="fas fa-image fa-5x p-2 pt-3"></i>
        <p class="pt-4 pb-4 pr-3 pl-3 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi aliquid, incidunt maxime, consectetur amet in, dolore debitis iure ipsa laborum expedita quam error nemo impedit delectus aliquam modi at blanditiis aliquam modi at</p>
        <div class="pb-4">
        <a href="#img-esti"><button type="button" class="btn bt-lg"> Try this out </button></a>
      </div>
      </div>
      <div class="col-md-4 text-center">
        <h3 class="pt-4 pb-3"> Video Estimation </h3>
        <i class="fas fa-video fa-5x p-2 pt-3"></i>
        <p class="pt-4 pb-4 pr-3 pl-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, similique saepe accusamus voluptatem et numquam sapiente repudiandae in architecto impedit dolore culpa sed error deserunt tenetur minima, asperiores suscipit odit?</p>
        <div class="pb-4">
          <a href="#vid-esti"><button type="button" class="btn bt-lg"> Try this out </button></a>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <h3 class="pt-4 pb-3"> Real time Estimation </h3>
        <h6 class="pl-5 ml-5">&#128308<b>LIVE</b></h6>
        <i class="fas fa-camera fa-5x"></i>
        <p class="pt-4 pb-4 pr-3 pl-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam facilis animi quas maiores alias, enim sint doloribus eveniet omnis blanditiis hic praesentium impedit nemo provident nam accusamus dolores optio natus?</p>
        <div class="pb-4">
          <a href="#real-esti"><button type="button" class="btn bt-lg"> Try this out </button></a>
        </div>
      </div>
    </div>
  </div>
  </section>

  <section class="container-fluid img-desc" id="img-esti">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="pt-4 pb-1"> Image Estimation </h1>
        </div>
      </div>
      <hr style="color: black;">
      <div class="row">
        <div class="col-md-5 text-center">
          <img class="img-fluid features mr-5 pb-5 pt-4 pr-3" src="../static/images/img-esti.png">
        </div>
        <div class="col-md-7 text-center">
          <ul class="pt-5 pr-5 pl-5 pb-2 m-2">
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur facere ea incidunt perferendis, sint ipsa officia kjsbdfjkj njujewb </li> <br>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur facere ea incidunt perferendis, sint ipsa officia Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit aliquam fugiat nob</li> <br>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur facere ea incidunt perferendis, sint ipsa officia Lorem ipsum dolor sit amet consectetur</li>
          </ul>
          <div class="pt-3 pl-1">
            <p>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                   <ul>
                   {% for message in messages %}
                       <li>{{ message }}</li>
                   {% endfor %}
                   </ul>
                {% endif %}
            {% endwith %}
            </p>
            <form action ="/upload" method="post" autocomplete="off" enctype=multipart/form-data>
            <input type="file" name="file" id="file" accept="image/*" >
            <label for="file">
              <i class="fas fa-image"></i> &nbsp;
              Choose a Photo
            </label>
               &nbsp; &nbsp;<input class="pb-1" type = "submit" value = "Upload">
            </form>
        </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid vid-desc" id="vid-esti">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="pt-4 pb-1"> Video Estimation </h1>
        </div>
      </div>
      <hr style="color: black;">
      <div class="row">
        <div class="col-md-5 text-center">
          <img class="img-fluid features mr-5 pb-5 pt-4 pr-3" src="../static/images/video-esti.png">
        </div>
        <div class="col-md-7 text-center">
          <ul class="pt-5 pr-5 pl-5 pb-2 m-2">
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur facere ea incidunt perferendis, sint ipsa officia kjsbdfjkj njujewb </li> <br>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur facere ea incidunt perferendis, sint ipsa officia Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit aliquam fugiat nob</li> <br>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur facere ea incidunt perferendis, sint ipsa officia Lorem ipsum dolor sit amet consectetur</li>
          </ul>
          <div class="pt-4 pl-1">
          <input type="file" id="file" accept="video/*">
          <label for="file">
            <i class="fas fa-video"></i> &nbsp;
            Choose a Video
          </label>
        </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container-fluid real-desc" id="real-esti">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="pt-4 pb-1"> Real Time Estimation </h1>
        </div>
      </div>
      <hr style="color: black;">
      <div class="row">
        <div class="col-md-5 text-center">
          <img class="img-fluid features mr-5 pb-5 pt-4 pr-3" src="../static/images/live-esti.png">
        </div>
        <div class="col-md-7 text-center">
          <ul class="pt-5 pr-5 pl-5 pb-2 m-2">
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur facere ea incidunt perferendis, sint ipsa officia kjsbdfjkj njujewb </li> <br>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur facere ea incidunt perferendis, sint ipsa officia Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit aliquam fugiat nob</li> <br>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur facere ea incidunt perferendis, sint ipsa officia Lorem ipsum dolor sit amet consectetur</li>
          </ul>
          <div class="pt-4 pl-1">
          <!--<input type="file" id="file" accept="image/*"> -->
           <button type="button" class="btn bt-lg"> <i class="fas fa-camera"></i><b>&#128308</b>&nbsp;
            &nbsp;&nbsp;Go LIVE </button>
        </div>
        </div>
      </div>
    </div>
  </section>






 <!-- CDN's-->
  <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
{% endblock %}